* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #91d87d, #81d36d, #70cf5c, #5dca4a, #47c537, #3cc42e, #2fc224, #1cc117, #20c318, #25c61a, #28c81b, #2ccb1c);
}

a {
    text-decoration: none;
}

/* -------- HEADER ----------- */


.bg-dark {
    background-color: black !important;
}

header{
    position: sticky;
    top: 0;
}

nav div img {
    width: 2.5rem;
    height: 2.5rem; 
}
/* ------------- BANNER ------------------ */

.bannerImg img {
    width: 100%;
    height: 200px;
}

.neonline {
    background-color: black;
}

.neonline img {
    width: 450px;
    height: 15px;
    margin-top: -23px;
}


/* -------------- MAIN -----------------*/

.divh2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainImg {
    width: 180px;
    height: 180px;
}

/* ------------- FOOTER ------------------ */

footer {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

.divFooter {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

footer div img {
    width: 40px;
    height: 40px;
}

footer div p {
    font-size: 13px;
    text-align: center;
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ------------------------------------ */

/* -------------- PRODUCTOS ------------*/

.mainProduct {
    display: flex;
    flex-direction: column;
}

.divProduct1 {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                    "product1 product2"
                    "product3 product4";
}

.product1 {
    grid-area: product1;
    text-align: center;
}

.product1 img {
    width: 200px;
    height: 200px;
}

.product2 {
    grid-area: product2;
    text-align: center;
}

.product2 img {
    width: 200px;
    height: 200px;
}

.product3 {
    grid-area: product3;
    text-align: center;
}

.product3 img {
    width: 200px;
    height: 200px;
}

.product4 {
    grid-area: product4;
    text-align: center;
}

.product4 img {
    width: 200px;
    height: 200px;
}

.divProduct2 {
    display: grid;
    padding-top: 20px;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                    "product5 product6"
                    "product7 product8";
}

.product5 {
    grid-area: product5;
    text-align: center;
}

.product5 img {
    width: 200px;
    height: 200px;
}

.product6 {
    grid-area: product6;
    text-align: center;
}

.product6 img {
    width: 200px;
    height: 200px;
}

.product7 {
    grid-area: product7;
    text-align: center;
}

.product7 img {
    width: 200px;
    height: 200px;
}

.product8 {
    grid-area: product8;
    text-align: center;
}

.product8 img {
    width: 200px;
    height: 200px;
}

.h2Product {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/* ------------------- MULTIMEDIA -------------------*/


.mainMultimedia {
    display: flex;
    flex-direction: column;
    width: 425px;
}


.mainMultimedia div img {
    width: 425px;
}


/* -------------------------- NOSOTROS ----------------------*/

.mainNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-spacing: 5px;
    line-height: 25px;
    background-color: aqua;
    padding-bottom: 25px;
}

.mainNosotros h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.divEmpty {
    height: 2px;
    background-color: black;
    width: 150px;
    margin-bottom: 15px;
}

.sectionPersonas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
}

.sectionPersonas div {
    display: flex;
}

.sectionPersonas img {
    width: 150px;
}

.pNosotros {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 30px;
    text-align: center;
}

.pNosotros p {
    padding-top: 15px;
}



/* --------------------- CONTACTO -----------------*/



form {
    width: 100%;
    margin-top: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    border: 2px solid green;
}

.form-group {
    width: 70%;
}

.enviar {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    background: black;
    border: 2px solid green;
    color: white;
    letter-spacing:1px;
    text-shadow:0;
    cursor: pointer;
    transition: all 0.25s ease;
}
.enviar:hover {
    color:white;
    background: green;
}

form h2 {
    color: white;
}

form label {
    color: white;
}

form div {
    padding-top: 15px;
}

button {
    margin-top: 15px;
    margin-bottom: 30px;
}





@media (min-width: 768px) {

    .neonline img {
        width: 768px;
    }

    .divh2 {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*------- PRODUCTOS -------------*/


    .divProduct1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
                        "product1 product2 product3"
                        "product4 product4 product4";
    }

    .product1 {
        grid-area: product1;
    }

    .product2 {
        grid-area: product2;
    }

    .product3 {
        grid-area: product3;
    }

    .product4 {
        grid-area: product4;
    }

    .divProduct2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
                        "product5 product6 product7"
                        "product8 product8 product8";
    }

    .product5 {
        grid-area: product5;
    }

    .product6 {
        grid-area: product6;
    }

    .product7 {
        grid-area: product7;
    }

    .product8 {
        grid-area: product8;
    }


    /* ------------------- MULTIMEDIA ----------------*/

    .mainMultimedia {
        display: grid;
        width: 100%;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
                        "multi1 multi2"
                        "multi3 multi3"
                        "multi4 multi4";
    }

    .mainMultimedia div {
        display: flex;
        width: 100%;
        height: 200px;
    }

    .mainMultimedia div img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .multi1 {
        grid-area: multi1;
    }

    .multi2 {
        grid-area: multi2;
    }

    .multi3 {
        grid-area: multi3;
    }

    .multi4 {
        grid-area: multi4;
    }

    /* ---------------- CONTACTO ----------------------*/

    .mainform {
        display: flex;
        justify-content: center;
    }

    form {
        width: 80%;
    }

}

